.info{
    background-color: #122ab2;
}

.info_content{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 10px;
}

.info_content p, .info_content a{
    text-decoration: none;
    color: white;
    margin: 0 10px 10px 10px;
}

.header{
    background-color: #2c70ff;
}

.menu{
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /*Garante que menu fique sempre alinhado ao centro em relação ao eixo Y*/
    margin: 0 auto;
    padding: 15px 0;
}

.menu a{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu__nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu__nav a{
    font-weight: bold;
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu__nav a:hover{
    color: #122ab2;
}

.introducao{
    line-height: 1;
    font-size: 3em;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

.sobre{
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre_info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre_info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre_info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre_img{
    flex: 1 1 160px;
    margin: 0 10px;
}

.produtos{
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1{
    font-size: 3em;
    margin: 0 10px 60px 10px;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos_img{
    flex: 1 1 175px;
    margin: 10px;
}

.produtos_img h2{
    font-size: 3em;
    color: #a4a4a4;
    background-color: #f7f7f7;
    padding: 60px 20px;
}

.purple{
    border-top: 8px solid #ae81ff;
}

.pink{
    border-top: 8px solid #f9265e;
}

.blue{
    border-top: 8px solid #66d9eb;
}

.preco{
    background-color: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco_card{
    flex: 1 1 260px;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.preco_card h2{
    font-size: 3em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}

.preco_card span{
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.preco_card sup{
    font-size: 1.5rem;
}

.preco_card ul{
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    line-height: 2;
    color: #7c7c7c;
}

.preco_card li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.preco_card li::after{
    content: '';
    display: block;
    background-color: #2c70ff;
    width: 6px;
    height: 6px;
    border-radius: 50%;

}

.preco_card a{
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}

.qualidade{
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2{
    font-size: 2.25em;
    color: #a4a4a4;
    margin-bottom: 28px;
}

.qualidade-item h2::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background-color: blue;
}

.qualidade-item:nth-of-type(3n+1) h2::before{
    background-color: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before{
    background-color: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before{
    background-color: #66d9eb;
}

.qualidade-item p{
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}

.newsletter {
	background: #f7f7f7;
	padding: 60px calc((100% - 960px) / 2 );
	display: flex;
	flex-wrap: wrap;
}

.newsletter-info {
	flex: 1 1 240px;
	margin: 0 10px;
}

.newsletter-info h1 {
	font-size: 3em;
	color: #a4a4a4;
}

.newsletter-info p {
	font-size: 1.25em;
	font-style: italic;
	max-width: 230px;
	color: #7c7c7c;
	margin-bottom: 10px;
}

.newsletter-form {
	flex: 2 1 260px;
	margin: 0 10px;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-form input {
	flex: 3 1 260px;
	font-size: 1.25em;
	color: #7c7c7c;
	font-style: italic;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	border: 4px solid #2c70ff;
	background: transparent;
	padding: 15px 10px;
	margin: 0px;
	border-radius: 0px;
}

.newsletter-form button {
	flex: 1 1 260px;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	background: #2c70ff;
	color: white;
	margin: 0px;
	cursor: pointer;
	border: 0px;
	padding: 15px 10px;
}

.footer {
	display: flex;
	background: #2c70ff;
	height: 200px;
	align-items: center;
}

.footer p {
	flex: 1;
	text-align: center;
	font-size: 2.25em;
	color: #122ab2;
}

@media (max-width:800px){
    .preco{
        padding-left: 10px;
        padding-right: 10px;
    }

    .preco .preco_card:nth-child(3){
        order: -2;
    }

    .preco .preco_card:nth-child(2){
        order: -1;
    }
}

@media (max-width: 600px) {
	.newsletter-form button {
		font-size: 1.5em;
	}
}