.cardContainer{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cardFlex{
    border: 1px solid black;
    width: 30%;
    padding: 10px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    
}

.cardFlex p{
    flex-grow: 1;
}

.cardFlex button{
    align-self: flex-end;
}