 section{
    max-width: 40%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
}
div{
    background-color: aqua;
    border: 1px solid green;
    text-align: center;
    padding: 5px;
    width: 150px;
}

.flex{
    display: flex;
}

.flex2{
    display: flex;
    flex-direction: column-reverse;
}

.flex3{
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
}
.flex3 div{
    flex: 1;
}

.flex4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items : stretch;
    height: 500px;
    background-color: black;
}
